/* ログインフォーム  新規追加 6.2*/

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login { /* 追加 7.2 11~16 */
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}