/* 新規入力 5.4 */
.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー勤怠情報テーブル */

#table-attendances { /* 追加 10.2 9~18 */
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit { /* 追加 8.1 15~21 */
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ 追加 8.4  */

#table-users {
  td {
    vertical-align: middle;
  }
}

/* 基本情報編集モーダルウィンドウ */

.label-basic-info { /* 追加 9.3.1 33~40 */
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}